tags
*.pyc
vim/backups
vim/.netrwhist
vim/spell/*.spl
config/fish/fish_history
config/fish/fishd.skeletor
vim/doc/tags-ja
vim/black
vim/undodir/
config/nvim/lazy-lock.json
config/karabiner/automatic_backups
config/op/
