[user]
    name = Harry
    email = hjwp2@cantab.net

[includeIf "gitdir:~/arrival/"]
    path = ~/dotfiles/.arrival.gitconfig

[core]
    editor = vim
    pager = less

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    pager = true
    ui = auto

[alias]
    hist = log --graph --oneline --decorate
    st = status
    co = checkout
    wdiff = diff --color-words
    subs = submodule update --init --recursive
    amend = commit -a --amend --no-edit
    stwdiff = diff --staged -w
    fpush = push --force-with-lease
    irebase = rebase --interactive
    rcont = rebase --continue
    ccont = cherry-pick --continue

[push]
    default = current
[pull]
	rebase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[url "ssh://git@git.core.arrival.co:"]
	insteadOf = https://git.core.arrival.co
[init]
	defaultBranch = main
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
[url "git@git.core.arrival.co:"]
	insteadOf = https://git.core.arrival.co/
