tags
*.pyc
vim/backups
vim/.netrwhist
vim/spell/*.spl
config/fish/fish_history
config/fish/fishd.skeletor
vim/doc/tags-ja
vim/black
vim/undodir/
config/nvim/lazy-lock.json
config/karabiner/automatic_backups
config/op/
config/nvim/spell/en.utf-8.add.spl
.DS_Store
config/iterm2/AppSupport
.colima/default/daemon/daemon.log
