[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "misc/zsh-wild-cherry-theme"]
	path = misc/zsh-wild-cherry-theme
	url = https://github.com/mashaal/wild-cherry
[submodule "misc/powerline"]
	path = misc/powerline
	url = https://github.com/powerline/powerline
[submodule "vim/bundle/.vim/bundle/ropevim"]
	path = vim/bundle/.vim/bundle/ropevim
	url = https://github.com/python-rope/ropevim.git
[submodule "oh-my-zsh-custom/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
