[user]
    name = Harry
    email = hjwp2@cantab.net

[core]
    editor = vim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    pager = true
    ui = auto

[alias]
    hist = log --graph --oneline --decorate
    st = status
    co = checkout
    bbranch = !git --no-pager branch --sort=committerdate --format='%(color:yellow)%(refname:short) %(color:green)%(committerdate:relative) %(color:blue)[%(authorname)]' --color=always
    rreflog = reflog --format='%C(yellow)%h%C(reset) %gs %C(green)%ar%C(reset) %C(blue)[%an]%C(reset)'
    wdiff = diff --color-words
    subs = submodule update --init --recursive
    amend = commit -a --amend --no-edit
    stwdiff = diff --staged -w
    fpush = push --force-with-lease --force-if-includes
    irebase = rebase --interactive
    rcont = rebase --continue
    ccont = cherry-pick --continue
	praise = blame

[push]
    default = current
[pull]
	rebase = false

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[init]
	defaultBranch = main

[blame]
	ignoreRevsFile = .git-blame-ignore-revs

[checkout]
	defaultRemote = origin

[url "ssh://git@github.com/octoenergy/"]
    insteadOf = https://github.com/octoenergy/

[fetch]
	prune = true

[merge]
	conflictStyle = zdiff3

[diff]
	algorithm = histogram
	submodule = log
    colorMoved = default

[commit]
	verbose = true

[status]
	submoduleSummary = true
