[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/vim-python-pep8-indent"]
	path = vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "misc/zsh-wild-cherry-theme"]
	path = misc/zsh-wild-cherry-theme
	url = https://github.com/mashaal/wild-cherry
[submodule "misc/powerline"]
	path = misc/powerline
	url = https://github.com/powerline/powerline
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/bundle/django-plus.vim"]
	path = vim/bundle/django-plus.vim
	url = https://github.com/tweekmonster/django-plus.vim.git
[submodule "vim/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/hjwp/ale
[submodule "vim/bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv/
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/bundle/vim-markdown-toc"]
	path = vim/bundle/vim-markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc
[submodule "vim/bundle/vim-autoformat"]
	path = vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/requirements.txt.vim"]
	path = vim/bundle/requirements.txt.vim
	url = https://github.com/raimon49/requirements.txt.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/bundle/black"]
	path = vim/bundle/black
	url = https://github.com/psf/black.git
[submodule "vim/bundle/.vim/bundle/ropevim"]
	path = vim/bundle/.vim/bundle/ropevim
	url = https://github.com/python-rope/ropevim.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
